<!doctype html>
<html lang="en">
  <head>
    <meta charser="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <title>Sudoku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="bundle/sudoku.css">

<!--     <script> 
//       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

//       ga('create', 'UA-72522075-2', 'auto');
//       ga('send', 'pageview');
     </script> -->
  </head>
  <body>
    <a target="_blank" href="https://gitlab.com/georgeguitar/sudoku" class="github-corner"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

    <input type="hidden" id="difficulty"><br>
    <h1 align="center">Sudoku</h1>
    <div id="app">
      
      <div class="dialog" v-if="game === null">
        <p>Por favor, escoja la dificultad:</p>
          <!-- <p v-if="hasExistingGame()">
          <button @click="continueGameClick">Continue existing game</button>
          </p> -->
        <p>
          <input v-model="nombre" placeholder="Su nombre, por favor">
        </p>
        <button @click="difficultyClick" data-difficulty="easy">Facil</button>
        <button @click="difficultyClick" data-difficulty="medium">Medio</button>
        <button @click="difficultyClick" data-difficulty="hard">Duro</button>

        <p v-if="hasExistingGame()">Partidas jugadas:</p>
      <ul id="app" v-if="hasExistingGame()">
        <li v-for="jugada in jugadas">
          {{ jugada.nombre }}, dificultad: {{ jugada.difficulty }}. 
          <button @click="elegirJuego" data-id="{{ jugada.nombre }}">Cargar</button>
        </li>
      </ul>

      </div>
      
      <table class="sudoku-table" v-else>
        <thead>
            <tr>
	            <th colspan="9">
	            	Tu nombre es: {{ nombre }}
	            </th>
            </tr>
        </thead>
        <tbody>           
          <tr v-for="(irow, row) in game">
            <td v-for="(icell, cell) in row"
              :class="['i'+irow, 'j'+icell, cell.editable ? 'editable': 'not-editable', cell.hasConflict ? 'has-conflict' : 'no-conflict']">
              <input type="tel" :value="cell.value" :readonly="!cell.editable"
                :data-i="irow" :data-j="icell"
                @click="cellClick"
                @keyup="cellKeyUp" />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="controls" v-if="game !== null">
        <p><a href="#" @click="backClick">Atras</a></p>
        <button @click="difficultyClick" data-difficulty="nuevo">Nuevo</button>
        <button @click="verificarJuego" data-verificar="verificar">Verificar</button>
        <span v-if="difficulty !== 'hard'"><button @click="resolverJuego" data-resolver="resolver">Resolver</button></span>
        
        <p>{{formatedTime()}}</p>
      </div>
    </div>
    <p align="center"><a href="sudoku/tutorial.html" target="_blank">Tutorial como jugar Sudoku</a></p>
    <p align="center"><a href="manual/manual.html" target="_blank">Manual basico del usuario</a></p>

    <script src="js/vue.js"></script>
    <script src="js/sudoku.js"></script>
    <script src="js/boards.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/sudokuJS.js"></script>

  </body>
</html>
